#formulario {

    font-size: 20px;
    padding: 20px;
    display: block;
    width: 600px;
    margin-left: 100px; 
   
} 
 .fundoLogin {
    background-image:url(../_imagens/fundo.jpg); 
    background-repeat:no-repeat;
    
    background-color:#fff;
    
    
}

#login {
    width:440px; /* Tamanho da Largura da Div */
	height:280px; /* Tamanho da Altura da Div */
        position:absolute; 
        top:55%; 
        margin-top:-200px; /* ou seja ele pega 50% da altura tela e sobe metade do valor da altura no caso 100 */
        left:50%;
       margin-left:-250px; /* ou seja ele pega 50% da largura tela e diminui  metade do valor da largura no caso 250 */
    font-size: 20px;
    padding: 20px;
    background-color:#f5f5f5   ; 
    border: 2px solid #ddd;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.2); 
    
}
form{
    width: 700px;
    margin-left: -100px;
}

#login h2{

text-align: center;
    color: #555;
    
}
#login form{

width: 400px;
margin-left: 80px;
}

input[type=text]
{
height: 22px;
font-size:17px;
color: #999;
padding-left:5px; 
}

:onfocus{
 border: 1px solid #00f;
}

input.idade{
    width:30px; 
}
input.end{
    width:580px; 
}
input.turma{
    width:130px;
}

input.prof{
    width:180px; 
}

.turno select{
font-size: 18px; 
width: 120px;

}

.categoria select{
font-size: 18px; 
width: 190px;

}

input .tel{
font-size: 18px; 

}
input.user{
width: 205px;
font-size: 18px;
height: 27px;
}

input.senha{
width: 220px;
font-size: 18px;
height: 27px;
}


.btn{
font-size: 19px;
height: auto; 
}


h2#titulo{

padding: 10px;
color: #999;
}

hr{

border: 1px solid #eee;
margin-left: -3%;
}

::-webkit-input-placeholder {
   color: #aaa;
   font: 12px verdana, arial, sans-serif;
}

:-moz-placeholder {
   color: #aaa;
   font: 14px verdana, arial, sans-serif;
}

::-moz-placeholder {
   color:#aaa;  
   font: 14px verdana, arial, sans-serif;
}

:-ms-input-placeholder {  
   color:#aaa;  
   font: 14px verdana, arial, sans-serif;
}
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
   border: 1px solid rgba(81, 203, 238, 1);
}

input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
   border: 1px solid rgba(81, 203, 238, 1);
}

